.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container {
  flex: 1 1 calc(25% - 16px);
  box-sizing: border-box;
  margin: 8px;
}

.space-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.space-container .ant-checkbox-wrapper {
  position: absolute;
  z-index: 1;
  padding: 18px;
}
@media (max-width: 1200px) {
  .card-container {
    flex: 1 1 calc(33.33% - 16px);
  }
}

@media (max-width: 992px) {
  .card-container {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 768px) {
  .card-container {
    flex: 1 1 calc(100% - 16px);
  }
}

.card-cover {
  width: 100%;
  object-fit: cover;
}

.uploaded-file-container {
  display: flex;
  padding: 15px 10px;
}
.uploaded-file {
  display: flex;
}
.uploaded-file .ant-upload-list-text {
  margin-left: 10px;
}

.main-container {
  max-height: calc(100vh - 154px);
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .uploaded-file-container {
    display: block;
    width: 100%;
  }
  .uploaded-file-container .upload-button {
    margin-top: 10px;
    width: 100%;
  }
  .uploaded-file .ant-upload-list-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .main-container {
    max-height: calc(100vh - 196px);
  }
}
.btn-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 52px;
}

.btn-delete button {
  margin-right: 10px;
}
