.header-container {
  position: 'sticky';
  top: 0;
  z-index: 1;
  width: '100%';
  align-items: center;
  height: 40px;
}

.header {
  display: 'flex';
  justify-content: space-between;
  align-items: center;
}

.header-username {
  color: white;
  line-height: 2.8;
}
